@import "reset.styl"

FS = 14px
LH = 18px
smallerFS = round(0.9 * FS)
smallerLH = FS
xs = 5px
s = (2 * xs)
m = (3 * xs)
l = (4 * xs)
xl = (5 * xs)
xxl = (6 * xs)
BR = round(2 * LH/3)

body
  padding 0
  margin 0
  max-width (1080px + xxl)

  background url('../img/darklines.png')

  font-family Tahoma, sans-serif
  font-size FS
  line-height LH

.b-printLink
  &:link, &:visited
    display inline-block
    padding 5px
    background-color #AAA

    color #f5f5f5
    font-size 13px
    text-decoration none
  &:hover, &:active
    background-color #111  


.print
  & body
    background none
  & .sidebar, & .printLink
    display none
  & .content
    width 830px
    margin 0

//
//  common
//
.center {
  text-align center
}
//
// section sidebar
//

.sidebar 
  width (250px)
  position fixed
  left xxl
  top 0
  
  background url('../img/fabric.png') whitesmoke


.shri-header
  margin (m+l) 0 m
  padding l (s+m)

  &__name
    display inline-block
    margin-bottom BR

    // background-color white
    font-family Verdana
    font-size round(1.4 * FS)
    font-weight normal
    line-height round(1.7 * FS)

  &__link
    &:link, &:visited
      display inline-block
      margin-bottom BR  
      color gray
      text-decoration none  
    &:hover, &:active
      color red

.b-menu
  padding 0 (s+m)

  font-size round(1.2 * FS)
  &__item
    display block
    padding s 0
    // background-color #FFF
  &__link
    &:link, &:visited
      text-decoration none
      color #333
      border-bottom 1px dotted #AAA
    &:hover, &:active
      color red
      border-bottom solid 1px
  &__link_active
    &:link, &:visited
      text-decoration none
      color #333
      font-weight bold
    &:hover, &:active
      color red
      border-bottom solid 1px
      

.b-intro
  margin (2*m) 0 m
  padding m (s+m)

  background-color #111
  color whitesmoke
  font-size smallerFS
  line-height smallerLH
  box-shadow 0 xs (4 * xs) rgba(0,0,0,0.5)
  &__taskname
    font-weight bold
  &__author:first-letter
    color red


//
// section content
//

.content
  margin-left (250px + xxl)
  margin-bottom xxl
  padding (2*m)

  background-color #FFF

.b-info
  font-family Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman'
  font-size round(FS * 1.15)
  line-height round(FS * 1.15 * 1.5)
  color #333
  for v in 1..2
    &__h{v}
      currentfs = round(FS * 1.15 * (- v + 3.5))
      currentlh = currentfs
      margin-top round(0.5 * currentlh)
      margin-bottom round(0.5 * currentlh)

      font-weight normal
      font-size: currentfs
      line-height currentlh

    &__h3
      currentfs = round(FS * 1.15)
      currentlh = currentfs
      margin-top round(currentlh)
      margin-bottom round(0.5 * currentlh)

      font-size: currentfs
      line-height currentlh
  & a
    &:link, &:visited
      color #2673EC
      border-bottom: solid 1px
      text-decoration none
    &:hover, &:active
      color red
      border-bottom: none
  & p
    margin round(FS * 1.15) 0


.b-header
  for v in 1..2
    &__h{v}
      font-family Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman'
      font-size round(FS * 1.15)
      line-height round(FS * 1.15 * 1.5)
      color #333
      currentfs = round(FS * 1.15 * (- v + 3.5))
      currentlh = currentfs
      margin-top round(0.5 * currentlh)
      margin-bottom round(0.5 * currentlh)

      font-weight normal
      font-size: currentfs
      line-height currentlh


.b-lectors
  font-family Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman'
  font-size round(FS * 1.15)
  line-height round(FS * 1.15 * 1.5)
  color #333      

.b-lectors-list
  list-style-type none

  font-size 0
  line-height 1

.b-lector
  font-family Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman'
  font-size round(FS * 1.15)
  line-height round(FS * 1.15 * 1.5)
  color #333 

.b-students
  font-family Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman'
  font-size round(FS * 1.15)
  line-height round(FS * 1.15 * 1.5)
  color #333

//
// b-students-list
//

.b-students-list 
  list-style-type none

  font-size 0
  line-height 1
//
// b-shortinfo
//
.b-shortinfo
  display inline-block
  vertical-align top
  position relative
  width 170px
  margin-right 20px
  margin-bottom 20px

  background #111
  
  &__img
    width 100%
  &__name
    position absolute
    left 0
    bottom 0

    font-family Tahoma, sans-serif
    font-size 16px
    line-height 1
    color #f5f5f5

    opacity 1

    -webkit-transition opacity 0.2s ease
    -moz-transition opacity 0.2s ease
    -ms-transition opacity 0.2s ease
    -o-transition opacity 0.2s ease
    transition opacity 0.2s ease    
    
    & span
      display inline-block
      padding 5px
      
      background-color rgba(0,0,0,0.7)
      &:first-letter
        color red  
  &:hover
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);    
  &:hover &__name
    opacity 0


.b-fullinfo
  font-family Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman'
  font-size round(FS * 1.15)
  line-height round(FS * 1.15 * 1.5)
  color #333
  & a
    &:link, &:visited
      color #2673EC
      border-bottom: solid 1px
      text-decoration none
    &:hover, &:active
      color red
      border-bottom: none
  & p
    margin round(FS * 1.15) 0
  &__city
    color #CCC
    font-size 18px
    font-style italic

  &__img
    max-width 300px
    float left
    margin 6px l l 0
  &__about::after
    display block
    clear both
    content ''
  &__about hr
      margin 0 0 16px
      border 0
      height 0
.b-ya:first-letter
  color red

