@import "reset.styl"

FS = 14px
LH = 18px
smallerFS = round(0.9 * FS)
smallerLH = FS
xs = 5px
s = (2 * xs)
m = (3 * xs)
l = (4 * xs)
xl = (5 * xs)
xxl = (6 * xs)
BR = round(2 * LH/3)

body
  padding 0
  margin 0
  max-width 1080px

  background url('../img/darklines.png')  

  font-family Tahoma, sans-serif
  font-size FS
  line-height LH

//
//  common
//
.center {
  text-align center
}
//
// section sidebar
//

.sidebar 
  width (250px)
  position fixed
  left xxl
  top 0
  
  background url('../img/fabric.png') whitesmoke


.shri-header
  margin (2*l) 0 m
  padding l (s+m)

  &__name
    display inline-block
    margin-bottom BR

    // background-color white
    font-family Verdana
    font-size round(1.4 * FS)
    font-weight normal
    line-height round(1.7 * FS)

  &__link
    &:link, &:visited
      display inline-block
      margin-bottom BR  
      color gray
      text-decoration none  
    &:hover, &:active
      color red

.b-menu
  padding 0 (s+m)

  font-size round(1.2 * FS)
  &__item
    display block
    padding s 0
    // background-color #FFF
  &__link
    &:link, &:visited
      text-decoration none
      color #333
      border-bottom 1px dotted #AAA
    &:hover, &:active
      color red
      border-bottom solid 1px
  &__link_active
    &:link, &:visited
      text-decoration none
      color #333
      font-weight bold
    &:hover, &:active
      color red
      border-bottom solid 1px
      

.b-intro
  margin (2*m) 0 m
  padding m (s+m)

  background-color #111
  color whitesmoke
  font-size smallerFS
  line-height smallerLH
  box-shadow 0 xs (4 * xs) rgba(0,0,0,0.5)
  &__taskname
    font-weight bold
  &__author:first-letter
    color red


//
// section content
//

.content
  margin-left (250px + xxl)
  margin-bottom xxl
  padding (2*m)

  background-color #FFF

.b-info
  font-family Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman'
  font-size round(FS * 1.15)
  line-height round(FS * 1.15 * 1.5)
  color #333
  for v in 1..2
    &__h{v}-title
      currentfs = round(FS * 1.15 * (- v + 3.5))
      currentlh = currentfs
      margin-top round(0.5 * currentlh)
      margin-bottom round(0.5 * currentlh)

      font-weight normal
      font-size: currentfs
      line-height currentlh

    &__h3-title
      currentfs = round(FS * 1.15)
      currentlh = currentfs
      margin-top round(currentlh)
      margin-bottom round(0.5 * currentlh)

      font-size: currentfs
      line-height currentlh
  & a
    &:link, &:visited
      color #2673EC
      border-bottom: solid 1px
      text-decoration none
    &:hover, &:active
      color red
      border-bottom: none
  & p
    margin round(FS * 1.15) 0

//   border-top: 16px solid #AE113D
//   border-bottom: 16px solid #AE113D
//   background-color: whitesmoke

// for v in 1..6
//   h{v}
//     font-size: 2 * FS - v * 3
//     line-height 2 * LH - v * 3
// p
//   margin-bottom (LH/2)
// a:link, a:visited
//   text-decoration: none
//   color: #2673EC
//   border-bottom: solid 1px

// a:hover, a:active
//   text-decoration: none
//   color: #006AC1
//   border-bottom: solid 1px

// .center
//   margin: 0 auto
//   max-width: 960px

// .purple
//   background-color: #4E0038

// .hero
//   padding: 70px 40px
//   color: #FFF
//   font-size: 36px
//   line-height: 38px
//   font-weight: normal

// .persons-list
//   padding: 16px 40px
//   font-size: 0
//   text-align: center

// .persons-list_item
//   display: inline-block
//   vertical-align: top
//   margin-left: 10px
//   margin-right: 10px
//   margin-bottom: 8px
//   width: 300px
//   height: 96px
//   border-bottom: 5px solid #AE113D
//   border-radius: 48px 8px 8px 48px
//   background-color: #FFF
//   font-size: 14px
//   line-height: 18px
//   text-align: left

// .persons-list_item_img
//   float: left
//   margin: 8px 8px
//   width: 80px
//   height: 80px
//   border-radius: 40px

// .b-smallinfo
//   margin: 16px 8px 8px 110px

// .b-smallinfo::after
//   display: block
//   content: ''
//   clear: both

// .b-smallinfo_fullname:first-letter
//   color: red

// .username:link, .username:visited
//   text-decoration: none
//   color: #2673EC
//   border-width: 0

// .username:hover, .username:active
//   text-decoration: none
//   color: red
//   border-width: 0

// .b-smallinfo_fullname
//   color: #333
//   font-size: 16px
//   line-height: 20px

// .b-smallinfo_location-n-year
//   margin-top: 6px
//   color: #888
//   font-size: 12px
//   line-height: 12px

// .purple__middle
//   padding: 10px 0
//   border-top: 8px solid #AE113D
//   background-color: #fff

// .b-maininfo
//   padding: 16px
//   overflow: hidden
//   color: #000

// .b-maininfo_fullname
//   margin: 10px 0 20px
//   font-size: 28px
//   font-weight: normal
//   line-height: 28px

// .b-maininfo_fullname:first-letter
//   color: red

// .b-maininfo_img
//   float: left
//   width: 300px
//   border-radius: 150px

// .b-maininfo_wrap
//   float: left
//   margin-left: 20px
//   min-height: 300px

// .b-maininfo_wrap::after
//   display: block
//   content: ''
//   clear: both

// .b-socials
//   padding: 0
//   margin: 0

//   &__item
//     display: inline-block
//     padding: 8px
//     text-align: center
//     background-color: red
//     color: #FFF